<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de ejemplo</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/estilos.css">
    <!-- FAVICON -->
     <link rel="icon" href="../../assets/css/images/favicon.png" type="image/png">
</head>
<body>
    <div class="mi_contenedor">
        <!-- HEADER -->
        <header class="mi_encabezado">
            <h1>Club Paddle</h1>
            <nav class="navigationBar">
                <ul class="navigationBarList">

                </ul>
            </nav>
        </header>
        <!-- CUERPO PRINCIPAL-->
        <main class="mi_principal">
            <section class="error500">
                <h2>¡Ups! Algo ha salido mal</h2>
                <p>Nos disculpamos por las molestias, ....</p>
                <p><a href="../../index.php">Haga clic aquí para volver al INICIO</a></p>
            </section>
        </main>
        <!-- PIE DE PÁGINA-->
        <footer class="mi_pie">   
            <div class="aviso_legal">
                <small>
                    &copy; Club Paddle - Todos los derechos reservados
                </small>
            </div>
        </footer>
    </div>
</body>
</html>