/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS PAGINA GENERALES -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* ESTILOS GENERALES */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.error500 {
    text-align: center;
}

.mi_encabezado {
    grid-area: header;
    height: auto;
    background-color: white;
    font-size: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 2000;
    border-bottom: solid black;
}

.mi_principal {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.mi_pie {
    grid-area: footer;
    background: linear-gradient(to bottom right, rgb(126, 126, 131), black);
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
}

.mi_contenedor {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-rows: auto 1fr 150px;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ESTILOS HEADER */
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.cabecera_logo {
    height: auto;
    margin-bottom: 20px;
    background: linear-gradient(to bottom left, rgb(126, 126, 131), rgba(0, 0, 0, 0.048));
}

.contenedor_logo {
    display: flex;
    align-items: stretch;
    /* 🔑 ESTA es la clave */
    max-width: 680px;
    margin-left: 40px;
    padding-left: 40px;
    background-color: white;
}

.contenedor_logo img {
    width: 150px;
    height: 150px;
    animation: slideFade 0.8s ease-out forwards;
}

.contenedor_empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    animation: slideFade 0.8s ease-out forwards;
    animation-delay: 0.30s;
}

h1 {
    font-size: 50px;
    color: black;
    margin: 0;
}

.texto_logo {
    color: black;
    font-size: 30px;
    margin: 0;
}

h3 {
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 1em 0;
}

/* BARRA DE NAVEGACICON */
.navigationBar {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navigationBarList {
    list-style-type: none;
    /*cambiar la forma de la lista a "ninguno"*/
    display: flex;
    /*se pone en fila por defecto, si ponemos "colum" se pone en columna*/
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 15px;
    /*para abrir huecos entre ellos*/
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.55);
    font-weight: bold;
    margin: 0;
}

.check_menu {
    display: none;
    margin: 0;
}

.label_check {
    height: 100%;
    display: flex;
    align-items: center;
}

.label_check img {
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(.68, -0.55, .27, 1.55);
}

.label_check:hover img {
    transform: scale(1.1);
    filter: invert(1);
}

.check_menu:checked~.navigationBarList .label_check img {
    transform: rotate(180deg) scale(1.1);
    filter: brightness(1.3);
}

.navigationBarListUser {
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.55);
    font-weight: bold;

    /* ANIMACIÓN */
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transform: translateY(-15px);
    margin-bottom: 0;
    transition:
        max-height 0.5s cubic-bezier(.4, 0, .2, 1),
        opacity 0.5s ease,
        transform 0.5s ease;
}

.check_menu:checked~.navigationBarListUser {
    max-height: 80px;
    /* suficiente para que entre el contenido */
    opacity: 1;
    transform: translateY(0);
}

.enlace {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.enlace:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.10);
}

.enlace.active {
    background-color: black;
    color: white;
}

/* ESTILOS FOOTER */

.contenedor_footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    min-height: 130px;
    padding: 0 30px;
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 100%;
}

.iconos {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 3px;
}

.contacto_pie {
    justify-self: start;
    display: flex;
    height: 100%;
    gap: 50px;
}

.contacto_flex_row {
    display: flex;
    align-items: center;
    padding-left: 0;
    width: 100%;
}

.contacto_flex_row ul {
    list-style-type: upper-roman;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.contacto_flex_row ul li {
    display: flex;
    color: white;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;

}

.contacto_flex_row a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.contacto_flex_row a:hover {
    transform: scale(1.1);
}

.logo_pie {
    justify-self: center;
    display: flex;
    align-items: center;
}

.logo_pie img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.logo_pie div {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20px;
}

.logo_pie p {
    font-size: 30px;
    margin: 0;
}

.logo_pie div span {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.contacto_pie_email {
    justify-self: end;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

.contacto_pie_email img {
    background-color: white;
    padding: 1px;
}

.contacto_pie_email .contacto_flex_row {
    margin-top: 15px;
}

.aviso_legal {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    opacity: 0.5;
    color: white;
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- ESTILOS GENERALES -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.aviso_registro {
    width: max-content;
    margin: 15px auto;
    position: static;
    display: block;
}

.aviso_registro:empty {
    display: none;
}

.error_message,
.success_message {
    display: block;
    padding: 12px 18px;
    border-radius: 10px;
    margin: 10px 0;
    font-weight: bold;
    border: 1px solid;
}

.login_form {
    padding: 1.5rem;
    max-width: 530px;
    margin: 2rem auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}


/* MENSAJES DE ERROR en FORMULARIOS*/

.input_zone small {
    display: none;
    font-size: 13px;
    color: red;
    margin-top: 4px;
    line-height: 1.3;
    max-width: 100%;
    word-wrap: break-word;
}

.input_zone small.error-visible {
    display: block;
    color: red;

}

/* INPUT CON ERROR */

.input-error {
    border: 2px solid red;
    background-color: #ffecec;
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 2em;
    min-height: auto;
}

.form_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin: 1em auto;

}

.form_options>label {
    width: 120px;
    margin-right: 15px;
    font-weight: bolder;
}

.input_zone {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-width: 300px;
}

.input_zone label {
    display: flex;
    align-items: center;
}

/* Igualo el ancho de los input con los de tipo "date" o "select"*/
.input_zone input,
.input_zone select,
.input_zone textarea,
.input_zone label {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    border-radius: 5px;
}

.input_zone textarea {
    height: 150px;
    /* Alto fijo en píxeles */
}

.password_show {
    display: flex;
    justify-content: space-between;
    /* izquierda y derecha */
    align-items: center;
    /* alineación vertical */
    margin: 1em auto;
    padding-left: 135px;
}

.password_show label {
    display: flex;
    align-items: center;
    gap: 6px;
    /* espacio entre checkbox y texto */
    float: left;
}

.password_show a {
    float: right;
    text-decoration: none;
}

.form_buttons {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    padding: 0 50px;
}

.btn_reset {
    background-color: rgb(218, 3, 3);
    color: rgb(0, 0, 0);
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    border: solid 0.5px rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn_reset:hover {
    background-color: rgb(126, 3, 3);
}

.btn_enviar {
    background-color: rgb(226, 225, 225);
    ;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    border: solid 0.5px rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn_enviar:hover {
    background-color: rgb(137, 138, 137);
}

.error_message {
    color: brown;
}

.success_message {
    color: green;
}

.form_actions {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.form_actions button {
    background: #2980b9;
    color: #fff;
    padding: .5rem 1.4rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.form_actions button:hover {
    background: #1c5a83;
}


/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS INDEX.PHP -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    /* Grosor de la línea */
    text-underline-offset: 0.5em;
    /* Distancia */
    text-decoration-color: rgb(0, 0, 0);
    /* Color del subrayado */
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(0, 0, 0);
    text-shadow:
        /* Darle borde de color al título*/
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    animation: slideFade 0.8s ease-out forwards;
    animation-delay: 0s;
}

/*PRESENTACION*/

.contenedor_presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 50px;
    margin: 3em;
    padding-bottom: 3em;
    /* Para separar la línea divisoria del "section" respecto del último párrafo*/
    border-bottom: solid black;
}

.contenedor_presentacion p {
    line-height: 1.8;
    margin-bottom: 1.5em;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
}

.contenedor_presentacion div img {
    width: 100%;
}

.contenedor_presentacion div small {
    display: block;
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.5;
    color: black;
}

/* =========================
   CAROUSEL
========================= */

.carousel-container {
    width: 100%;
    max-width: 80vw;
    padding: 0 10px;
    margin: 0 auto;
    padding-bottom: 3em;
    border-bottom: solid black;
}

.carousel-fade {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    /* mantiene proporción */
    overflow: hidden;
    border-radius: 10px;
}

/* Slides */
.carousel-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
    z-index: 2;
}

/* Imagen ocupa todo */
.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Botones */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 5;
    transition: background 0.3s;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

/* CLIENTES - ENLACES*/
.enlaces-container {
    margin: 3em;
    /* margen lateral */
}

.enlaces {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    justify-content: center;
    /* 👈 centra la grilla */
    gap: 3em;
    margin-top: 5rem;
}

.enlaces img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
    border: solid rgb(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enlaces img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS GALERIA.PHP -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.galeria-container {
    margin: 2.5em auto;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
    width: 90vw;
    margin: 0 auto;
}

.galeria img {
    width: 100%;
    aspect-ratio: 16 / 9;
    /* proporción real de tus fotos */
    object-fit: cover;
    background-color: #eee;
    border: solid rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}


/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS CONTACTO.PHP y SUS FORMULARIOS -*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.contenedor_presentacion_contacto {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: start;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 90vw;
}

.container_datos_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #f9f9f9a8;
    max-width: 530px;
    margin: 0;
    height: auto;
}

.datos_contacto {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    margin-top: 40px;
    width: 100%;
}

.container_form {
    padding: 1.5rem;
    max-width: 530px;
    margin: 0;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #f9f9f9a8;
}

.container_form h3 {
    margin-bottom: 2em;
}

.flex_row {
    display: grid;
    grid-template-columns: 40px 160px 1fr;
    align-items: start;
    width: 100%;
    border-top: 1px solid grey;
    padding: 15px 0;
}

.flex_row img {
    width: 25px;
    height: 25px;
}

.flex_row span {
    font-weight: 600;
    font-size: 20px;
}

.flex_row p {
    margin: 0;
    font-size: 20px;
}

.flex_row ul {
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    align-self: start;
}

.flex_row ul li a {
    display: inline-block;
    /* los links de los <ul> son elementos inline (por defecto) y el transform: scale() no funciona en inline. Se pone inline-block para que funcione en este caso*/
}

.flex_row a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.flex_row a:hover {
    transform: scale(1.1);
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS PREGUNTAS_FRECUENTES.PHP -*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* ===== FAQ HEADER ===== */

.faq-header {
    position: sticky;
    z-index: 1500;
    top: var(--header-height);
    text-align: center;
    background: rgb(255, 255, 255, 0.8);
    /* 🔥 deja ver fondo */
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.faq-header h2 {
    margin: 1em 0;
    font-size: 32px;
}

/* =========================
   DROPDOWN CON EFECTO TARJETA
========================= */

/* CONTENEDOR */
.faq-dropdown {
    position: relative;
    max-width: 420px;
    margin: 40px auto 20px auto;
}

.faq-dropdown summary {
    background: #447fff;
    color: white;
    padding: 16px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    position: relative;
}

.faq-dropdown summary::-webkit-details-marker {
    display: none;
}

.faq-dropdown summary::after {
    content: "▾";
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease;
}

.faq-dropdown[open] summary::after {
    transform: rotate(180deg);
}

/* LISTA FLOTANTE */
.faq-dropdown nav {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #447fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    max-height: calc(100vh - var(--header-height) - 190px);
    overflow-y: auto;
    z-index: 999999;
}

/* Scrollbar de la lista dropdown*/
.faq-dropdown nav::-webkit-scrollbar {
    width: 12px;
}

.faq-dropdown nav::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

/* LINKS */
.faq-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-link {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
}

.faq-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

.faq-link.active {
    background: #0063f8;
    color: white;
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.3);
}

/* ===== CONTENIDO ===== */
.faq-container {
    max-width: 1800px;
    margin: 0 auto;
}

.faq-section {
    padding: 25px;
    border-bottom: 1px solid black;
    scroll-margin-top: 0;
    /* JS lo ajusta dinámicamente */
}

.faq-section h4 {
    font-size: 26px;
    background: #d3d3d3;
    padding: 10px 15px;
    border-radius: 6px;
}

.faq-section p {
    font-size: 20px;
    margin: 40px 0;
}

.faq-section span {
    font-size: 20px;
    margin: 20px;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.faq-section ul {
    margin: 40px 0;
}

.faq-section ul li {
    line-height: 1.8;
    font-size: 20px;
}

.faq-section ul li span {
    font-style: italic;
    text-decoration-line: none;
}

/* UL interno */
.faq-section ul li ul {
    margin: 0;
}

/* OFFSET PARA SCROLL */
.faq-section {
    scroll-margin-top: calc(var(--header-offset) + 120px);
}

/* ===== BOTÓN ===== */
.btn_contactar {
    border-bottom: 1px solid black;
    margin: 30px;
    padding: 0;
    background-color: rgb(182, 182, 182);
    border-radius: 8px;
    display: flex;
    cursor: pointer;
}

.btn_contactar:hover {
    background-color: rgb(131, 129, 129);
}

.btn_contactar a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 15px;
    font-family: "Montserrat", 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS SOLICITUDES / USUARIOS / EMPLEADOS y SUS FORMULARIOS -*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* ======================================
   TABLAS ADMIN (Solicitudes / Usuarios / Empleados)
======================================== */

.solicitud_container,
.usuarios_container {
    width: 100%;
    overflow-x: auto;
    padding: 0 24px;
    box-sizing: border-box;
}

.solicitudes_table {
    min-width: 1100px;
    border-collapse: collapse;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
    table-layout: auto;
    margin: 0 auto;
}

.usuarios_table {
    min-width: 780px;
    border-collapse: collapse;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
    table-layout: auto;
    margin: 0 auto;
}

.empleados_container {
    width: 100%;
    padding: 0 24px;
    overflow-x: auto;
    box-sizing: border-box;
}

.empleados_table {
    min-width: 1100px;
    width: max-content;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
    table-layout: auto;
}

.solicitudes_table th,
.solicitudes_table td,
.usuarios_table th,
.usuarios_table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    white-space: normal;
    overflow-wrap: break-word;
}

.solicitudes_table th,
.usuarios_table th {
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: bold;
    min-width: auto;
}

.empleados_table th,
.empleados_table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    white-space: normal;
    word-break: keep-all;
}

.empleados_table th {
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: bold;
}

.td_motivo {
    max-width: 350px;
    white-space: normal;
    overflow-wrap: break-word;
}

.solicitudes_table th:nth-child(1) {
    width: 2%;
}

/* ID */
.solicitudes_table th:nth-child(2) {
    width: 8%;
}

/* Fecha */
.solicitudes_table th:nth-child(3) {
    width: 10%;
}

/* Nombre */
.solicitudes_table th:nth-child(4) {
    width: 10%;
}

/* Apellido */
.solicitudes_table th:nth-child(5) {
    width: 8%;
}

/* Teléfono */
.solicitudes_table th:nth-child(6) {
    width: 18%;
}

/* Dirección */
.solicitudes_table th:nth-child(7) {
    width: 29%;
}

/* Motivo */
.solicitudes_table th:nth-child(8) {
    width: 5%;
}

/* Estado */
.solicitudes_table th:nth-child(9) {
    width: 10%;
}

/* ====================================
   BOTONES + ACCIONES (fila principal)
======================================= */

.acciones_td {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.solicitudes_table td:last-child,
.solicitudes_table th:last-child,
.usuarios_table th:last-child,
.usuarios_table td:last-child {
    border-color: #e6e6e6;
    width: auto;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.acciones_td form {
    margin: 0;
    width: auto;
}

/* ===============================
   COLUMNA ACCIONES EMPLEADOS
================================ */

.empleados_table td:last-child,
.empleados_table th:last-child {
    border-color: #e6e6e6;
}

.empleados_table .acciones_td {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.empleados_table .acciones_td form {
    margin: 0;
}

.btn_modificar,
.btn_borrar,
.btn_guardar,
.btn_cancel {
    min-width: 110px;
    width: 100%;
    max-width: 140px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: solid 0.5px rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn_modificar {
    background-color: rgb(226, 225, 225);
    color: rgb(0, 0, 0);
}

.btn_modificar:hover {
    background-color: rgb(137, 138, 137);
}

.btn_borrar {
    background-color: rgb(218, 3, 3);
    color: rgb(0, 0, 0);
}

.btn_borrar:hover {
    background-color: rgb(126, 3, 3);
}

.btn_guardar {
    background-color: rgb(48, 66, 224);
    color: rgb(255, 255, 255);
}

.btn_guardar:hover {
    background-color: rgb(8, 11, 160);
}

.btn_cancel {
    background-color: rgb(226, 225, 225);
    color: rgb(0, 0, 0);
}

.btn_cancel:hover {
    background-color: rgb(137, 138, 137);
}

/* =========================
   FILA DESPLEGABLE EDIT
========================= */

.hidden {
    display: none;
}

.fila_edit td {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 12px;
}

/* ===============================
   FILA EDIT EMPLEADOS
================================ */

.fila_edit td {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0;
}

.empleado_edit_form {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

/* Forms edit */
.solicitud_edit_form {
    padding: 10px;
}

/* =========================
   GRID EDIT (común)
========================= */

.edit_grid {
    display: grid;
    gap: 15px;
    align-items: start;
}

.edit_grid label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

.edit_grid input,
.edit_grid select,
.edit_grid textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid grey;
}

/* Botones en edit abajo derecha */
.edit_actions_usuarios,
.edit_actions_empleados {
    margin-top: 15px;
    display: flex;
    align-self: self-end;
    gap: 10px;
    justify-content: flex-end;
}

.edit_actions_solicitudes {
    display: flex;
    align-self: center;
    gap: 10px;
    justify-content: center;
}

/* =========================
   FORMS de SOLICITUD y USUARIOS EDIT
========================= */
.section_center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section_center_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.section_center_long {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid grey;
    justify-content: center;
}

.section_border_top {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section_border_top p {
    font-style: italic;
}

/* Solicitudes: Estado | Fecha cierre | Observaciones */
.solicitud_edit_form .edit_grid {
    grid-template-columns: 1fr 1fr 4fr auto;
    align-items: start;
}

.solicitud_edit_form .edit_actions {
    justify-content: center;
}

/* Usuarios: Nombre | Apellido | Email | Teléfono */
.usuario_edit_form .edit_grid {
    grid-template-columns: 1fr 1fr 1.5fr 1fr auto;
    align-items: start;
}

/* =========================
   MODIFICAR EMPLEADOS
========================= */

.emp_edit_layout {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    align-items: center;
}

/* columna izquierda */
.emp_edit_fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* fila 1 */
.emp_edit_fields .edit_grid_row1 {
    display: grid;
    grid-template-columns:
        minmax(0, 0.5fr) minmax(0, 0.5fr) minmax(0, 0.2fr) minmax(0, 0.3fr) minmax(0, 0.3fr) minmax(0, 0.3fr);
    gap: 15px;
    align-items: center;
}

/* fila 2 */
.emp_edit_fields .edit_grid_row2 {
    display: grid;
    grid-template-columns:
        minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
    gap: 15px;
}

.emp_edit_fields .edit_grid_row1 div,
.emp_edit_fields .edit_grid_row2 div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    font-size: 15px;
    font-weight: bold;
    min-width: 0;
}

.emp_edit_fields .edit_grid_row1 input,
.emp_edit_fields .edit_grid_row2 input {
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 8px;
    width: 100%;
}

/* columna derecha */
.emp_edit_actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}


/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- PERFIL.PHP -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.contenedor_perfil {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin: 0 auto;
    max-width: 90vw;
}

.user_profile {
    padding: 1.5rem;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

.form_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 490px;
    height: 30px;
    margin: 1em;
}

.form_group .input_zone {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form_group label {
    width: 20%;
    font-weight: bolder;
}

.form_group .input_zone input,
.form_group .input_zone select,
.form_group .input_zone textarea {
    width: 100%;
    box-sizing: border-box;
}

.form_group .input_zone textarea {
    height: 60px;
}


@media (max-width: 1200px) {

    /* Presentación pasa a 1 columna */
    .contenedor_presentacion {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 2em;
    }

    .contenedor_logo {
        margin-left: 20px;
        padding-left: 20px;
    }

    .contenedor_logo img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 40px;
    }

    .texto_logo {
        font-size: 22px;
    }

    .navigationBarList,
    .navigationBarListUser {
        gap: 10px;
    }

    .enlace {
        font-size: 20px;
    }

    /* Clientes menos columnas */
    .enlaces {
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    /* CONTACTO.php*/
    .contenedor_presentacion_contacto {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .solicitudes_table th,
    .solicitudes_table td,
    .usuarios_table th,
    .usuarios_table td,
    .empleados_table th,
    .empleados_table td {
        padding: 6px;
        font-size: 13px;
    }

    .solicitudes_table {
        width: 100%;
        min-width: 1100px;
    }

    .usuarios_table .acciones_td,
    .edit_actions_usuarios {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 0;
        align-items: stretch;/
    }

    .solicitudes_table .acciones_td,
    .edit_actions_solicitudes {
        display: flex;
        gap: 8px;
        margin-top: 0;
        align-items: stretch;/
    }

    .acciones_td form {
        margin: 0;
        width: 100%;
    }

    .usuarios_table th:last-child,
    .usuarios_table td:last-child {
        width: 150px;
    }

    .solicitudes_table th:last-child,
    .solicitudes_table td:last-child {
        width: 250px;
    }

    /* Usuarios: Nombre | Apellido | Email | Teléfono */
    .usuario_edit_form .edit_grid {
        align-items: center;
    }

    .btn_modificar,
    .btn_guardar,
    .btn_borrar,
    .btn_cancel {
        font-size: 0.9rem;
        width: 100%;
    }

    .empleados_table {
        min-width: 1100px;
    }

    .emp_edit_layout {
        grid-template-columns: 1fr auto;
        gap: 15px;
    }

    .emp_edit_fields {
        gap: 15px;
    }

    /* fila 1 */
    .emp_edit_fields .edit_grid_row1 {
        display: grid;
        grid-template-columns:
            minmax(0, 0.5fr) minmax(0, 0.5fr) minmax(0, 0.3fr) minmax(0, 0.3fr) minmax(0, 0.4fr) minmax(0, 0.3fr);
        gap: 10px;
        align-items: center;
    }

    /* fila 2 */
    .emp_edit_fields .edit_grid_row2 {
        display: grid;
        grid-template-columns:
            minmax(0, 2fr) minmax(0, 1.6fr) minmax(0, 2fr);
        gap: 10px;
    }

    .emp_edit_fields .edit_grid_row1 div,
    .emp_edit_fields .edit_grid_row2 div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 3px;
        font-size: 13px;
        font-weight: bold;
        min-width: 0;
    }

    .emp_edit_fields .edit_grid_row1 input,
    .emp_edit_fields .edit_grid_row2 input {
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid grey;
        padding: 8px;
        width: 100%;
    }

    /* columna derecha */
    .empleado_edit_form {
        padding: 10px;
    }

    .empleados_table th,
    .empleados_table td {
        padding: 6px;
        font-size: 13px;
    }

    /* columna derecha */
    .emp_edit_actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-self: center;
    }

    .contenedor_perfil {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    /* Footer */
    .iconos {
        width: 25px;
        height: 25px;
    }

    .contacto_flex_row a {
        font-size: 14px;
    }

    .logo_pie {
        flex-direction: column;
        gap: 10px;
    }

    .logo_pie img {
        width: 50px;
        height: 50px;
    }

    .logo_pie div {
        margin-left: 0;
        align-items: center;
    }

    .logo_pie div p {
        font-size: 20px;
    }

    .logo_pie div span {
        font-size: 15px;
    }

    .aviso_legal {
        display: flex;
        justify-content: flex-end;
        font-size: 10px;
        opacity: 0.5;
        color: white;
    }

    .contacto_pie_email a {
        font-size: 15px;
    }

}

@media (max-width: 768px) {

    /* Header */

    .cabecera_logo {
        display: flex;
        justify-content: center;
    }

    .contenedor_logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        margin-left: 0;
        padding: 12px;
        max-width: 450px;
    }

    .contenedor_logo img {
        width: 90px;
        height: 90px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        /* Grosor de la línea */
        text-underline-offset: 0.5em;
        /* Distancia */
        text-decoration-color: rgb(0, 0, 0);
        /* Color del subrayado */
        font-size: 25px;
        margin-top: 1em;
        margin-bottom: 1em;
        color: rgb(0, 0, 0);
        animation: slideFade 0.8s ease-out forwards;
        animation-delay: 0s;
        line-height: 1.9;
    }

    .texto_logo {
        font-size: 18px;
    }

    /* NAVBAR */

    .label_check img {
        width: 30px;
        height: 30px;
    }

    .navigationBar {
        margin: 0;
    }

    .navigationBarList {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 6px;
        text-align: center;
        padding: 0 15px;
    }

    .navigationBarListUser {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        padding: 0 15px;
        gap: 5px;
    }

    .enlace {
        display: flex;
        font-size: clamp(18px, 1vw, 20px);
        padding: clamp(6px, 2vw, 10px);
        justify-content: center;
        text-align: center;
        max-width: 213px;
    }

    .active {
        padding: clamp(auto, 2vw, 10px);
    }

    .aviso_registro {
        margin: 12px auto;
    }

    /* Presentación pasa a 1 columna */
    .contenedor_presentacion {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 1.5em;
    }

    .section_center {
        margin: 0 5px;
        margin-bottom: 30px;
    }

    .section_center_long {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .carousel-btn {
        font-size: 22px;
        padding: 8px;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Clientes */
    .enlaces {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
    }

    /* Contacto.php */
    .contenedor_presentacion_contacto {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .flex_row {
        gap: 10px;
        grid-template-columns: 40px 100px 1fr;
    }

    .flex_row span,
    .flex_row p,
    .flex_row ul li,
    .flex_row a {
        font-size: 15px;
    }

    .container_form {
        width: auto;
        margin: 0 5px;
    }

    .form_options {
        gap: 10px;
        font-size: 15px;
    }

    .faq-header h2 {
        font-size: 25px;
    }

    .faq-link,
    .faq-link.active {
        padding: 10px;
        font-size: 15px;
    }

    .faq-section span {
        margin: 20px 0;
    }

    .faq-section h4 {
        font-size: 20px;
    }

    .btn_contactar a {
        font-size: 15px;
        padding: 10px;
    }

    .empleado_edit_form {
        padding: 5px;
    }

    .contenedor_perfil {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    /* Footer */
    .contenedor_footer {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
        text-align: center;
        height: auto;
        padding: 15px;
        justify-content: center;
    }

    .iconos {
        width: 20px;
        height: 20px;
    }

    .contacto_pie {
        width: 100%;
    }

    .contacto_flex_row a {
        font-size: 15px;
    }

    .logo_pie {
        flex-direction: column;
        gap: 8px;
    }

    .logo_pie img {
        width: 50px;
        height: 50px;
    }

    .logo_pie div {
        margin-left: 0;
    }

    .logo_pie div p {
        font-size: 14px;
    }

    .logo_pie div span {
        font-size: 11px;
    }

    .contacto_pie_email div {
        display: flex;
        justify-content: flex-end;
    }

    .contacto_pie_email img {
        margin-right: 5px;
        background-color: white;
        padding: 1px;
    }

    .contacto_pie_email a {
        font-size: 12px;
    }

    .aviso_legal {
        display: flex;
        justify-content: flex-end;
        font-size: 10px;
        opacity: 0.5;
        color: white;
    }
}

@media (min-width: 375px) and (max-width: 480px) {

    /* =========================
       HEADER
    ========================== */

    .cabecera_logo {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .contenedor_logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 15px;
        padding: 10px;
        max-width: 350px;
    }

    .contenedor_logo img {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-size: 20px;
    }

    .texto_logo {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
        /* un poco más grande que 14 */
        text-shadow: none;
        /* QUITAR borde negro */
        line-height: 1.3;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
    }

    /* NAVBAR */

    .navigationBarList {
        display: flex;
        flex-wrap: wrap;
        /* IMPORTANTE */
        justify-content: space-around;
        align-items: center;
        gap: 6px;
        padding: 0 15px;
    }

    .navigationBarListUser {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        padding: 0 15px;
        gap: 5px;
    }


    .label_check img {
        width: 25px;
        height: 25px;
    }

    .enlace {
        font-size: clamp(12px, 1vw, 15px);
        padding: clamp(4px, 2vw, 8px);
    }

    .active {
        padding: clamp(auto, 2vw, 10px);
    }

    /* Presentación pasa a 1 columna */
    .contenedor_presentacion {
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 1em;
    }

    .contenedor_presentacion div small {
        font-size: 10px;
        margin-top: 10px;
    }

    .contenedor_presentacion div p {
        font-size: 12px;
    }

    .section_center {
        margin: 0 5px;
        margin-bottom: 30px;
    }

    .section_center_long {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .carousel-btn {
        font-size: 15px;
        padding: 4px;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    /* CLIENTES - ENLACES*/
    .enlaces-container {
        margin: 1em;
        /* margen lateral */
    }

    .enlaces {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 1em;
        margin-top: 1rem;
    }

    .enlaces img {
        width: 100%;
        height: 100px;
        object-fit: contain;
        border-radius: 8px;
        border: solid rgb(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .enlaces img:hover {
        transform: scale(1.03);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    }

    /* Contacto.php */
    .contenedor_presentacion_contacto,
    .contenedor_perfil {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .flex_row {
        gap: 10px;
        grid-template-columns: 40px 100px 1fr;
    }

    .flex_row span,
    .flex_row p,
    .flex_row ul li,
    .flex_row a {
        font-size: 15px;
    }

    .container_form {
        width: 100%;
        margin: 0 10px;
    }

    input,
    textarea {
        font-size: 14px;
    }

    .form_options {
        gap: 10px;
        font-size: 15px;
    }

    .faq-header h2 {
        font-size: 25px;
    }

    .faq-link,
    .faq-link.active {
        padding: 10px;
        font-size: 15px;
    }

    .faq-section span {
        margin: 20px 0;
    }

    .faq-section h4 {
        font-size: 20px;
    }

    .btn_contactar a {
        font-size: 15px;
        padding: 10px;
    }

    .contenedor_perfil {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    /* Footer */
    .contenedor_footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .iconos {
        width: 15px;
        height: 15px;
    }

    .contacto_pie {
        width: 100%;
        gap: 10px;
    }

    .contacto_flex_row a {
        font-size: 10px;
    }

    .logo_pie {
        flex-direction: column;
        gap: 5px;
    }

    .logo_pie img {
        width: 40px;
        height: 40px;
    }

    .logo_pie div p {
        font-size: 13px;
    }

    .logo_pie div span {
        font-size: 11px;
    }

    .contacto_pie_email div {
        display: flex;
        justify-content: flex-end;
    }

    .contacto_pie_email img {
        width: 5px;
        height: 5px;
        background-color: white;
        padding: 1px;
        margin-right: 3px;
    }

    .contacto_pie_email a {
        font-size: 8px;
    }

    .aviso_legal {
        display: flex;
        justify-content: flex-end;
        font-size: 8px;
        opacity: 0.5;
        color: white;
    }

    /* =========================
       CONTENEDORES TABLAS
    ========================== */

    .solicitud_container,
    .usuarios_container,
    .empleados_container {
        padding: 0 10px;
    }


    /* =========================
       TABLAS
    ========================== */

    .solicitudes_table,
    .empleados_table,
    .usuarios_table {
        font-size: 10px;
    }

    .solicitudes_table th,
    .solicitudes_table td,
    .usuarios_table th,
    .usuarios_table td,
    .empleados_table th,
    .empleados_table td {
        padding: 5px;
        font-size: 10px;
    }

    /* =========================
       BOTONES
    ========================== */

    .btn_modificar,
    .btn_borrar,
    .btn_guardar,
    .btn_cancel {
        font-size: 0.5rem;
        padding: 0.25rem 0.3rem;
        min-width: unset;
        width: 100%;
        max-width: none;
    }

    /* =========================
       FORM EDIT EMPLEADOS
    ========================== */

    .emp_edit_layout {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .edit_grid_row1,
    .edit_grid_row2 {
        grid-template-columns: 1fr;
    }

    .emp_edit_actions {
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
    }

}